@font-face {
    font-family: Emirates-Medium;
    src:url("../src/assets/fonts/Emirates Medium.ttf")
}

@font-face {
    font-family: Heroic-Medium;
    src: url("../src/assets/fonts/heroic-condensed-medium.woff2");
}

@font-face {
    font-family: Dhurjati;
    src: url('../src/assets/fonts/Dhurjati-Regular.ttf');
}